<div class="containervid">
  <video autoplay loop muted plays-inline class="background-clip">
    <source src="./../../../../assets/videos/bg07.mp4" type="video/mp4" />
  </video>

  <img
    class="logo d-none d-sm-none d-md-block"
    title="icon"
    src="./../../../../assets/img/Rare.webp"
    width="45"
    height="50"
  />

  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <img
            src="./../../../../assets/img/kilogo02.png"
            class="img-fluid"
            title="Killer Instinct "
            width="80%"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <form
            class="row"
            [formGroup]="_FormularioGroup"
            (ngSubmit)="submitform()"
          >
            <div class="col-12 col-lg-4">
              <!--<label for="idfrm_email" class="form-label">Email :</label>-->

              <input
                id="idfrm_email"
                type="text"
                class="form-control transparent-input form-control-sm mb-2 mt-1"
                placeholder="email"
                required
                formControlName="email"
              />

              @if(isRequired('email')){
              <small class="align-content-center text-danger">
                Este campo es requerido</small
              >
              } @if(hasEmailError()){
              <small class="align-content-center text-danger">
                El campo debe tener formato de correo valido</small
              >
              }
            </div>
            <div class="col-12 col-lg-4">
              <!--<label for="idfrm_password" class="form-label">Password : </label> -->
              <input
                id="password-field"
                type="password"
                class="form-control form-control-sm mb-2 mt-1"
                placeholder="Password"
                required
                formControlName="password"
              />

              @if(isRequired('password')){
              <small class="align-content-center text-danger">
                Este campo es requerido</small
              >
              }
            </div>
            <div class="col-12 col-lg-4 d-flex justify-content-center">
              <button
                type="submit"
                class="btn btn-outline-danger mt-xs-3 mb-sm-3 font04"
              >
                <img
                  title="icon"
                  src="./../../../../assets/img/love-svgrepo-com.svg"
                  width="15"
                  height="15"
                />

                login
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">
          <p class="w-100 text-center text-light font04">
            &mdash; Don't you have an account? &mdash;
          </p>
          <div class="social d-flex text-center justify-content-center">
            <app-google-button
              (onclick)="signingwithgoogle()"
            ></app-google-button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
